<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Members Home</title>
</head>
<%- include ('partials/bootstrapCSS.ejs') %>
<body>
<%- include ('partials/navbar.ejs') %>



<div class="container-fluid">
    <div class="container">
        <h1>Hello <%= profile.first_name %></h1>
    </div>
</div>

<div class="row m-5">
    <% if (userPosts.length === 0) { %>
       <p>When you make your first post, these will be shown below. Until then.................</p>
    <% } %>
    <% userPosts.forEach( (post) => {  %>
    <div class="col-8 mx-auto mb-5">
        <div class="card">
            <h5 class="card-header"><%= post.message_title%></h5>
            <div class="card-body">
                <h5 class="card-title"><%= post.message_content%></h5>
                <hr>
                <p class="card-text">Posted: <%= post.created_on%></p>
<!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
        </div>
    </div>
    <% }); %>
</div>

<%- include ('partials/bootstrapJS.ejs') %>
</body>
</html>