<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<%- include ('partials/bootstrapCSS.ejs') %>
<body>
<%- include ('partials/navbar.ejs') %>

<h1>Members Profile</h1>
<div class="row m-5">
    <div class="col-sm-6 mx-auto">
        <div class="card">
            <form class="p-2" action="/api/update/<%= profile.id%>?_method=PUT" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">First name</label>
                        <input type="text" class="form-control" name="first_name" id="first_name" value="<%= profile.first_name%>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="last_name">Last name</label>
                        <input type="text" class="form-control" name="last_name" id="last_name" value="<%= profile.last_name%>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" name="email" id="email" value="<%= profile.email%>">
                </div>
                <% if(profile.access_level < 2 && profile.access_level !== null) { %>
                <div class="form-group col-md-5">
                    <label for="access_level"><b>Current Access level: <%= profile.access_level%></b></label>
                    <select id="access_level" name="access_level" class="form-control">
                        <option value="<%= profile.access_level || 4%>" selected disabled hidden></option>
                        <option value="0">God Like</option>
                        <option value="1">Almost God</option>
                        <option value="2">Minion</option>
                        <option value="3">Servant</option>
                        <option value="4">The Dammed</option>
                    </select>
                </div>
                <% } %>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        </div>
    </div>
</div>

<%- include ('partials/bootstrapJS.ejs') %>
</body>
</html>